.forgot-password-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #101828;
}

.form-panel {
  flex: 1;
  max-width: 601px;
  background-color: rgba(255, 255, 255, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.form-content {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-header {
  max-width: 300px;
}

.form-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
}

.form-header p {
  font-size: 1rem;
  color: #8897ad;
  line-height: 1.5;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form-group-forgot-password {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.submit-button {
  width: 388px;
  height: 3rem;
  background-color: #242531;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #313957;
}

.illustration-panel {
  flex: 1;
  background-color: #242531;
  display: flex;
  align-items: center;
  justify-content: start;
}

.illustration-container {
  margin-left: 120px;
  margin-top: -70px;
}
.illustration-container img {
  width: 650px;
  height: auto;
}
