.input-field-label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #101828;
}

.input-field-wrapper {
  position: relative;
  width: 388px;
}

.input-field {
  width: 388px;
  padding: 13px;
  padding-right: 45px;
  border: 1px solid #d4d7e3;
  outline: none;
  border-radius: 10px;
  color: #101828;
  height: 48px;
  background-color: white !important;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .input-field-label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
  }

  .input-field {
    width: 100% !important;
    box-sizing: border-box;
    padding: 16px;
    padding-right: 50px !important;
    font-size: 16px;
    border-radius: 12px;
  }

  .input-field-wrapper {
    width: 100%;
  }

  .input-field-group {
    width: 100%;
  }

  .toggle-password-btn {
    right: 12px !important;
    top: 50%;
    transform: translateY(-70%);
  }
}

.toggle-password-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #8897ad;
  cursor: pointer;
}

.toggle-password-btn:hover {
  color: #667085;
}
