.reset-password-container {
  display: flex;
  min-height: 100vh;
  background-color: #101828;
}

.form-header {
  min-width: 400px;
}

.form-header h1 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #242531;
}

.form-header p {
  font-size: 1rem;
  color: #8897ad;
  line-height: 1.5;
}

.form-body-reset-password {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group-reset-password {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #242531;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  color: #8897ad;
}

.toggle-btn:hover {
  color: #242531;
}

.form-footer {
  text-align: right;
}

.reset-password-btn {
  width: 388px;
  padding: 0.75rem;
  background-color: #8897ad; /* Lighter color for initial state */
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: not-allowed; /* Indicate disabled state */
  transition: background-color 0.3s;
}

.reset-password-btn:hover {
  background-color: #3a4a6b; /* Updated to a lighter color */
  opacity: 0.8; /* Reduced opacity */
}

.reset-password-btn:disabled {
  background-color: #8897ad !important;
  cursor: not-allowed;
}

.reset-password-form-panel {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 601px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.reset-password-illustration-panel {
  display: flex;
  align-items: center;
}

.illustration-container {
  position: relative;
  width: 24rem;
  height: 24rem;
}

.main-illustration {
  position: relative;
}

.reset-password-illustration-panel img {
  width: 650px;
  height: auto;
  margin-left: 20px;
  object-fit: contain;
}