.chart-header-graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.chart-card-graph {
  border-radius: 8px;
}

.chart-card-graph h3{
    font-weight: 500;
    padding-bottom: 5px;
}

.filter-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: all !important;
    z-index: 20;
    position: relative;
}

.filter-dropdown:hover {
    border-color: #007bff;
    cursor: pointer;
}

.filter-dropdown:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.filter-dropdown option {
    background-color: #fff;
    color: #333;
    padding: 8px;
    cursor: pointer;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  pointer-events: all !important;
  z-index: 10;
  position: relative;
}

.dropdown-container:hover {
  cursor: pointer;
}
